<section class="container">

    <div class="d-flex flex-column flex-md-row align-items-center">
        <h1 class="fs-3 me-md-auto">List of pins</h1>
        <div class="d-md-flex flex-md-column">
            <button type="button" class="btn btn-secondary mb-2 mb-2">+ Add Customer</button>
            <button type="button" class="btn btn-secondary">+ Add Pin</button>
        </div>
    </div>
    
    
    

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Image</th>
                    <th scope="col">Collaboratory</th>
                    <th scope="col">Privacy</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>S</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>